<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Menu Translations</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="__menu-index">

    <ion-spinner *ngIf="isLoading"></ion-spinner>
  
    <div class="menu-cards" *ngIf="!isLoading">
      <ion-card *ngFor="let menuType of menuTypes" (click)="openMenu(menuType)">
        <ion-card-header>
          {{menuType.displayName}}
        </ion-card-header>
        <ion-card-content>
          {{menuType.description}}
        </ion-card-content>
      </ion-card>
    </div>

  </ion-content>
  